body {
    font-family: var(--font-family);
    margin: 0;
    color: var(--body-color);
    background-color: var(--body-bg);
}

:root {
    --font-family: font-family: 'Old Standard TT', serif;
    --body-color: #FFAE2B;
    --body-bg: #181511;
    --info-color: #ACA592;
    --acent-color: #FFAE2B;
    --white-color: #fff;
    --border-color: #4B4136;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

/* head */
.container-head {
    display: flex;
}

.logo {
    text-decoration: none;
    font-size: 22px;
    line-height: calc(28 / 22);
    color: var(--acent-color);

    margin-right: 42px;
    font-family: 'Old Standard TT';
}

.nav {
    display: flex;
    font-family: 'Old Standard TT';
}

.head-list {
    display: flex;
    gap: 40px;
    margin-right: 489px;
}

.head-link {
    text-decoration: none;
    font-size: 11px;
    line-height: calc(24 / 11);

    text-transform: uppercase;

    color: var(--info-color);
}

.button {
    font-size: 11px;
    line-height: calc(22 / 11);

    text-align: center;
    text-transform: uppercase;
    color: var(--acent-color);
    border: 1px solid var(--acent-color);
    background-color: transparent;
    padding: 15px 25px;
    min-width: 147px;
    min-height: 52px;
    font-family: 'Old Standard TT';

}

/* hero */
.section-hero {
    padding-top: 120px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url("../images/hero\ \(1\).jpg");
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.suptitle {
    font-size: 12px;
    line-height: calc(22 / 12);

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--acent-color);
    font-family: 'Old Standard TT';
    margin-bottom: 15px;
}

.hero-title {
    font-size: 70px;
    line-height: calc(80 / 70);

    text-align: center;
    letter-spacing: 1px;
    font-family: 'Old Standard TT';
    color: var(--white-color);

    margin-bottom: 35px;
}

.btn {
    font-size: 11px;
    line-height: calc(22 / 11);

    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: var(--acent-color);
    color: #181511;
    padding: 14px 24px;
    min-width: 143px;
    min-height: 50px;
}

/* cart */
.section-cart {
    padding: 120px 0;
}


.cart-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

}


.suptitle-cart {
    font-size: 12px;
    line-height: calc(22 / 12);

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Old Standard TT';
    color: var(--info-color);

    margin-bottom: 10px;
}

.cart-img {
    display: block;
    margin-bottom: 20px;

}

.cart-list {
    min-width: 1200px;
    flex-basis: calc((100% - 19px * 2) / 3);

}

.cart-item {
    max-width: 387px;
    max-height: 315px;
    border: 1px solid var(--border-color);
    padding: 41px 41px 84px 41px;

}


.title-cart {
    font-size: 60px;
    line-height: calc(70 / 60);
    font-family: 'Old Standard TT';
    text-align: center;
    color: var(--acent-color);

    margin-bottom: 60px;
}

.cart-suptitle {
    text-align: center;
    font-size: 13px;
    line-height: calc(23 / 13);

    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--white-color);
}

/* section-bg-img */
.section-bg-img {
    background-image: url("../images/bg-img.jpg");
    max-width: 1656px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 328px 828px;
}

/* servises */
.servises-list {
    display: flex;
}

.servises-item {
    border: 1px solid var(--border-color);
    padding: 61px 117px 79px 61px;
}

.servises-title {
    font-size: 29px;
    line-height: calc(40 / 29);


    color: var(--acent-color);
    margin-bottom: 10px;
}

.servises-text {
    font-size: 15px;
    line-height: calc(26 / 15);


    color: var(--info-color);
    margin-bottom: 5px;
}

.servises-text-bottom {
    font-size: 11px;
    line-height: calc(26 / 11);


    color: var(--info-color);
}

.servises-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}